@import '../../node_modules/bourbon/app/assets/stylesheets/bourbon';

$energy-label-class-label-count: 11;
$energy-label-class-label-colors: #c5cae9 #9fa8da #7986cb
                                  #5c6bc0 #3f51b5 #3949ab
                                  #303f9f #283593 #1a237e
                                  #121e61 #020933;
$energy-label-class-label-disabled: #f3c1c1;
$energy-label-class-label-width: 15%;
$energy-label-class-label-add-width: 3%;

@import '../../dist/angular-energy-label.scss';

body,
html {
  background: #ddd;
  margin: 0;
  padding: 0;
}

em {
  font-style: normal;
  font-family: monospace;
}

.demo {
  background: #fff;
  display: block;
  margin: 1em auto;
  padding: 1em 2em;
  max-width: 660px;
  width: 80%;
}

.flex {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;

  > * {
    flex: 1 0 0%;
    min-width: 200px;
  }
}

energy-label {
  border: 1px solid black;
  margin: 5px;
  padding: 5px;
}
