$energy-label-class-label-count: 11;
$energy-label-class-label-colors: #008000 #33a357 #79b752
                                  #c3d545 #fff12c #edb731
                                  #d66f2c #cc232a #663399
                                  #4B0082 #000000;
@import '../src/index.scss';

body,
html {
  background: #ddd;
  margin: 0;
  padding: 0;
}

.demo {
  background: #fff;
  display: block;
  margin: 1em auto;
  padding: 1em 2em;
  max-width: 660px;
  width: 80%;
}

.flex {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;

  > * {
    flex: 1 0 0%;
    min-width: 200px;
  }
}

energy-label {
  border: 1px solid black;
  margin: 5px;
  padding: 5px;
}
